<article class="post">
  <div class="title">
    <a>{{title}}<br />({{post_text}})</a>
  </div>
  <div class="post-footer">
    by
    {{user.username}}
    on
    {{format_date created_at}}
    |
    {{!-- <a href="/post/{{id}}"></a> --}}
  </div>
</article>